<form action='/names' method="post">
 <ul>
    <li>
        <label for="Player1"> Player1 </label>
        <input type="text" id="Player1" name="Player1">
    </li>
    <li>
        <label for="Player2"> Player2 </label>
        <input type="text" id="Player2" name="Player2">
    </li>
    <li>
        <input type="submit" value="Submit">
    </li>
 </ul>
</form>